<ion-content>
  <ion-buttons style="position: absolute; margin: 10px; border-radius: 50%;
  background: #ffffff54;">
    <ion-button (click)="back()"><ion-icon style="color: white" name="arrow-back-outline"></ion-icon></ion-button>
  </ion-buttons>

  <div class="event">
    <img [src]="Event.eveImg" />

    <ion-card class="ion-no-margin ion-no-padding">
      <ion-card-header>
        <ion-card-title>{{Event.eveName}}</ion-card-title>

        <ion-card class="detail">
          <ion-card-content class="ion-no-padding">
            <ion-row >
              <ion-col size="4">
                <h4>Department</h4>
                <div><img src="assets/fests/teckzite/dept.png"></div>
                <p>{{Event.eveDepartment}}</p>
              </ion-col>
              <ion-col size="4" >
                <h4>Prize Money</h4>
                <div style="height:60px; width:60px"><img src="assets/fests/teckzite/reward.png"></div>
                <p>{{Event.prizeMoney}}</p>
              </ion-col>
              <ion-col size="4">
                <h4>Team Size</h4>
                <div><img src="assets/fests/teckzite/team.png"></div>
                <p>{{Event.maxTeam}}</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-card-header>

      <ion-card-content>
        <div class="info">
          <h3>About Event</h3>
          <p [innerHTML]="Event?.description"></p>
        </div>
        <div class="info">
          <h3>Structure</h3>
          <p [innerHTML]="Event?.structure"></p>
        </div>
        <div class="info">
          <h3>Timeline</h3>
          <p [innerHTML]="Event?.timeline"></p>
        </div>
        <div class="info">
          <h3>Contact</h3>
          <p [innerHTML]="Event?.contact_info"></p>
        </div>
        <div class="register">
          <a href="https://teckzite.org/events.php?sno={{Event?.sno}}">Register</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>