<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Create Community</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


    <ion-list>
        <ion-text>
            <h2>Commmunity Information</h2>
        </ion-text>
        <ion-item>
            <ion-input placeholder="Heading" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-textarea height="250px" autoGrow="true" placeholder="Enter news content"></ion-textarea>
        </ion-item>
    </ion-list>

    <ion-button expand="block">
        Upload Image &nbsp;&nbsp;
        <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-button>


</ion-content>



<ion-footer>
    <ion-list>
        <ion-item>
            <ion-buttons slot=end>
                <ion-button>Create Community
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list>
</ion-footer>