div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    ion-img{
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(195deg) brightness(118%) contrast(119%);
    }
    ion-label{
        color:#00b4ff;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        
    }
}