<ion-header> </ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="addpost">
        <ion-label>Create community</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="create-post">
        <ion-label>Add post</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="user">
        <ion-label>Users</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
