<!-- <app-shopregisteration></app-shopregisteration> -->
<!-- <mat-toolbar color="accent">
  <span>UPDATE PROFILE</span>
  <span class="demo-toolbar"></span>
</mat-toolbar>

<form [formGroup]="newvtype">
  <table>
    <tr>
      <td>
        <mat-form-field class="demo-full-width">
          <input
            matInput
            placeholder="change user name"
            formControlName="name"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="demo-full-width">
          <input
            matInput
            placeholder="change mobile number"
            formControlName="mobile"
          />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="demo-full-width">
          <input
            matInput
            placeholder="change address"
            formControlName="address"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <label for="upload-photo" class="upload-button">
          Upload file
          <input type="file" id="inp" (change)="onImageSelected($event)" />
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <p id="b64"></p>
      </td>
    </tr>
    <tr>
      <td>
        <img id="img" height="150" />
      </td>
    </tr>

    <tr>
      <td colspan="4" class="content-center">
        <button mat-raised-button color="accent" (click)="onSubmit()">
          Submit
        </button>
        <button mat-raised-button color="accent" (click)="onClose()">
          Clear
        </button>
      </td>
    </tr>
  </table>
</form> -->
